body {
  background-color : lightblue;
}

header {
  background-color : white;
  text-align       : center;
  font-family      : cursive;
  font-style       : italic;
}

header h1 {
  font-size : 4em;
}

#topbar button {
  width            : 19%;
  border           : none;
  background-color : white;
  background-color : lightblue;
  font-size        : 2em;
}

#topbar button:hover
{
  background-color : #3ca1c3;
}

#topbar
{
  padding: 0;
  padding-bottom: 1em;
}

div#content div.prevision {
  margin           : 0;
  padding          : 0;
  background-color : white;
  text-align       : center;
}

div#content div.prevision div {
  display : inline-table;
  width   : 45%;
}

h3 {
  text-align     : center;
  vertical-align : top;
}

div#content div.prevision td,
div#content div.prevision th {
  align-self : center;
}

div#content div.temps {
  background-color : white;
}

div#content div.prevision h2 {
  text-align : center;
}

div#content div.temps h2 {
  text-align : center;
}

div#bloc div {
  display          : inline-block;
  width            : 48%;
  background-color : white;
}

div#bloc div.capteurs h2 {
  text-align : center;
}

div#bloc div.electrovanne h2 {
  text-align : center;
}

div#bloc div.capteurs {
  vertical-align : top;
}

div#bloc div.electrovanne {
  vertical-align : top;
}

div#bloc div.electrovanne ul li.btn {
  display          : inline-block;
  width            : 45%;
  padding          : 10px;
  color            : white;
  background-color : blue;
  text-align       : center;
  list-style-type  : none;
}
